html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-size:0.60rem;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  background-image: url('images/wingchunbackground.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
}





header .logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
  background: none;
}

header h1 {
  margin: 10px 0 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.intro, .closing {
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

.activities, .photos, .how-to, .accommodation, .contact {
  padding: 20px;
}

.activities h2, .photos h2, .how-to h2, .accommodation h2, .contact h2 {
  text-align: center;
}

.activities{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity {
  display:block;
  flex-wrap: wrap;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
}

.activity img {
  max-width: 80%;
  height:fit-content;
  flex: 1 1 200px;
  object-fit:cover;
  height: 20rem;
  align-items: center;

}

.activity div {
  flex: 2 1 300px;
  padding: 20px;
}

.activity h3 {
  margin-top: 0;
}

.activity-description {
  margin: 0;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: hsl(0, 73%, 49%);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.button:hover {
  background-color: hsl(0, 95%, 47%);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.toggle-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: hsl(0, 73%, 49%);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: hsl(0, 95%, 47%);
}

.travel-directions {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 20px;
}


.travel-directions h3 {
  margin-top: 0;
}

.travel-directions ul {
  list-style-type: disc;
  padding-left: 20px;
}

.travel-directions p, .travel-directions ul {
  margin: 10px 0;
}

.book-now-container {
  text-align: center; /* Center-aligns the content */
  margin: 20px 0; /* Add some margin if needed */
}

.book-now-image {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 300px;
}

#photos {
  margin-top: 40px;
}

.photo-slider {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto; /* Enable horizontal scrolling on small screens */
  white-space: nowrap; /* Prevent line breaks between images */
}

.photo-slider div {
  display: inline-block;
  width: 100%; /* Ensure each image takes full width */
  height: auto; /* Maintain aspect ratio */
  text-align: center; /* Center align images */
  margin-bottom: 20px;
}

.photo-slider img {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the entire container */
  vertical-align: middle;
}

@media (max-width: 768px) {
  .photo-slider {
    overflow-x: hidden; /* Disable horizontal scrolling on small screens */
  }
}

.slick-dots {
  bottom: -30px;
}

.slick-prev:before, .slick-next:before {
  color: black; /* Change the color of the arrows */
}


.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: hsl(0, 73%, 49%);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;

}

.button:hover {
  background-color: hsl(0, 95%, 47%);
}

#scrollToTop {
  display: inline-block;
  margin: 20px auto;
  text-align: center;
}


/* Add this to your style.css or inside a <style> tag in your HTML head */

.sticky-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px 20px;
  background-color: #ff000d;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sticky-button:hover {
  background-color: #e2ad10;
}


.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(187, 10, 10, 0.1);
}

#contact {
  margin-top: 40px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-form {
    width: 100%;
    padding: 0 20px;
  }
}

#atv-rental {
  margin-top: 40px;
}

#atv-rental .atv-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#atv-rental h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

#atv-rental p {
  text-align: justify;
  line-height: 1.8;
}
