:root {
  --padding-inline: 30px;
  --container: 1440px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: hwb(0 96% 4%);
  font-size:1.2rem;
}

body.menu-open {
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

header > nav {
  display: flex;
  align-items: center;
  background-color: #000000;
  padding-block: 5px;
  padding-inline: var(--padding-inline);
}

header > nav > .logo img {
  width: var(--header-logo-width, 60px);
  height: var(--header-logo-height, 60px);
  object-fit: cover;
}

header > nav > .menu-btn {
  border: none;
  color: #ffffff;
  margin-left: auto;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: transparent;
}

header > nav > .links {
  --nav-height: 72px;
  position: fixed;
  left: 0;
  top: var(--nav-height);
  width: 100%;
  height: calc(100dvh - var(--nav-height));
  background-color: #000000;
  padding-block: 50px;
  padding-inline: var(--padding-inline);
}

header:not(.open) > nav > .links {
  display: none;
}

header > nav > .links li {
  margin-block-start: 20px;
}

header > nav > .links a:not(.button) {
  font-size: 30px;
  line-height: normal;
  color: #ffffff;
  transition: color 0.2s;
  text-decoration: none;
}

header > nav > .links a:not(.button):hover {
  color: hsl(0, 95%, 47%);
}

header > nav > .links a.button {
  display: block;
  padding-block: 20px;
  margin-block-start: 50px;
}

.hero img {
  max-width: calc(100% + var(--padding-inline) * 2);
  height: auto;
  margin-inline: calc(var(--padding-inline) * -1);
}


.hero .container {
  padding-block: 0;
  margin-block: 0;
  background-color: transparent;
}

.hero h1 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: normal;
  margin-block: 20px 10px;
}

.hero a.button {
  display: block;
  width: fit-content;
  margin-inline: auto;
  margin-block: 10px 30px;

}

.intro {
  padding-block: 30px;
  padding-inline: var(--padding-inline);
  text-align: center;
  background-color: #fff;
}

.intro p {
  font-size: 16px;
  line-height: 1.5em;
}

.closing {
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

.activities, .photos, .how-to, .accommodation, .contact {
  padding: 20px;
}

.activities h2 {
  font-size: 32px;
  font-weight: bold;
  margin-block-start: 30px;
  margin-block-end: 20px;
}

.activities h2, .photos h2, .how-to h2, .accommodation h2, .contact h2 {
  text-align: center;
}

.activities{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.activity {
  display: flex;
  flex-direction: column; /* Stacks content vertically */
  width: 100%; /* Ensures full width within the flex container */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.activity img {
  width: 100%; /* Ensures image fills its container */
  aspect-ratio: 9 / 4;
  object-fit: cover; /* Covers the container while preserving aspect ratio */
  border-bottom: 1px solid #ddd; /* Adds a separator line */
}

.activity-details {
    padding: 20px;
}

.activity div {
  padding: 20px;
}

.activity h3 {
  margin-top: 8px;
  margin-bottom: 5px;
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 700;
  backdrop-filter: blur(3px);
  padding: 5px 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
}

.activity-description {
  margin: 0;
}

.activity-info {
  font-size: 16px;
  line-height: normal;
  margin: 0 0 10px; /* Adds bottom margin for spacing */
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: hsl(0, 73%, 49%);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.button:hover {
  background-color: hsl(0, 95%, 47%);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.toggle-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: hsl(0, 73%, 49%);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: hsl(0, 95%, 47%);
}

.travel-directions {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 20px;
}


.travel-directions h3 {
  margin-top: 0;
}

.travel-directions ul {
  list-style-type: disc;
  padding-left: 20px;
}

.travel-directions p, .travel-directions ul {
  margin: 10px 0;
}

.book-now-container {
  text-align: center; /* Center-aligns the content */
  margin: 20px 0; /* Add some margin if needed */
}

.book-now-image {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 300px;
}

#photos {
  margin-top: 40px;
}

.photo-slider {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto; /* Enable horizontal scrolling on small screens */
  white-space: nowrap; /* Prevent line breaks between images */
}

.photo-slider div {
  display: inline-block;
  width: 100%; /* Ensure each image takes full width */
  height: auto; /* Maintain aspect ratio */
  text-align: center; /* Center align images */
  margin-bottom: 20px;
}

.photo-slider img {
  max-width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the entire container */
  vertical-align: middle;
}

@media (max-width: 768px) {
  .photo-slider {
    overflow-x: hidden; /* Disable horizontal scrolling on small screens */
  }
}

.slick-dots {
  bottom: -30px;
}

.slick-prev:before, .slick-next:before {
  color: black; /* Change the color of the arrows */
}


.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: hsl(0, 73%, 49%);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;

}

.button:hover {
  background-color: hsl(0, 95%, 47%);
}

#scrollToTop {
  display: inline-block;
  margin: 20px auto;
  text-align: center;
}


/* Add this to your style.css or inside a <style> tag in your HTML head */

.sticky-button {
  position: fixed;
  bottom: 8px;
  right: 8px;
  z-index: 1000;
  padding: 8px 8px;
  background-color: #cd1b24;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sticky-button:hover {
  background-color: #ff0223;
}


.container {
  max-width: var(--container);
  padding-block: 20px;
  padding-inline: var(--padding-inline);
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(187, 10, 10, 0.1);
}

#contact {
  margin-top: 40px;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-form {
   
    padding: 0 20px;
  }
}

#atv-rental {
  margin-top: 40px;
}

#atv-rental .atv-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#atv-rental h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

#atv-rental p {
  text-align: justify;
  line-height: 1.8;
}

.busstop{
  height: 200px;
  width: 400px;
}

#general-info {
  padding: 40px 20px;
  background-color: #f8f8f8;
  color: #333;
  text-align:left;
}

#general-info .container {
  max-width: 600px;
  margin: 0 auto;
}

#general-info h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

#general-info p {
  font-size: 1.2em;
  line-height: 1.4;
  margin-bottom: 20px;
}

.more-text {
  display: none;
}

.view-more {
  display: inline-block;
  margin-left: 10px;
  color: hsl(240, 87%, 46%);
  cursor: pointer;
}


@media screen and (min-width: 768px) {
  .activities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .activities h2 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .intro p {
    max-width: 1200px;
    margin-inline: auto;
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  header > nav > .menu-btn {
    display: none;
  }

  header > nav > .links {
    display: flex !important;
    position: static;
    height: auto;
    width: auto;
    padding: 0;
    align-items: center;
    margin-inline-start: auto;
  }

  header > nav > .links li {
    margin-block-start: 0;
    margin-inline: 10px;
  }

  header > nav > .links a:not(.button) {
    font-size: 16px;
    padding-inline: 10px;
  }

  header > nav > .links a.button {
    margin-block-start: 0;
    padding-block: 10px;
    font-size: 16px;
  }

  .hero {
    position: relative;
    overflow: hidden;
    color: #ffffff;
    background-color: #000000;
  }
  
  .hero .container {
    display: flex;
    padding-block: 0;
    padding-block: 140px;
  }

  .hero img {
    left: 30%;
    top: 0;
    width: 70%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    position: absolute;
    margin-inline: auto;
  }

  .hero .container > div {
    position: relative;
    z-index: 1;
  }

  .hero h1 {
    margin-block-end: 30px;
    font-size: 45px;
    text-align: left;
  }

  .hero a.button {
    font-size: 24px;
    width: 200px;
    padding-block: 20px;
    margin-inline: 0;
  }
}